body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
.or-color{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.width{
    width: 45%;
    padding: 10px 10px 15px 100px;
}
.width img{
    width: 80%;
}
.link-hiring{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 45px;
    border-radius: 10px;
    color: white;
}
.top{
    background-image: url(images/top-banner.png);
    width: fit-content;
    background-repeat: no-repeat;
}
.big-dream{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.snd-div{
    width: 110%;
    padding: 10px 15px 20px 35px;
}
.snd-div img{
    width: 80%;
}
.resume{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
}