body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
.or-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.width{
    width: 45%;
    padding: 10px 10px 15px 100px;
}
.width img{
    width: 80%;
}
.link-hiring{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 45px;
    border-radius: 10px;
    color: white;
}
.top{
    background-image: url(images/top-banner.png);
    width: fit-content;
    background-repeat: no-repeat;
}
.big-dream{
    
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.one-experience{
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px 125px 12px 45px;
    box-shadow: 10px 10px 15px gray;
    
    border-radius: 12px;
}
#web-one{
    border-left: solid 6px ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}
#web-two{
    border-left: solid 6px ;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
footer p {
    text-align: center;
}